<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="../index.html" class="logo">
        <img
          src="../assets/img/logo2.png"
          style="color: #0a53be"
          alt="navbar brand"
          class="navbar-brand"
          height="35"
        />
        <span class="ms-1 text-sm text-white"><strong>Recycle</strong>Hub</span>

      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item">
          <a
            data-bs-toggle="collapse"
            href="#dashboard"
            class="collapsed"
            aria-expanded="false"
          >
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item submenu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a data-bs-toggle="collapse" href="#tables">
            <i class="fas fa-table"></i>
            <p>Tables</p>
            <span class="caret"></span>
          </a>
          <div class="collapse show" id="tables">
            <ul class="nav nav-collapse">
              <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/demande" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <span class="sub-item">Collections</span>
                </a>
              </li>

              <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/system-points" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <span class="sub-item">Points System</span>
                </a>
              </li>

              <li>
                <a href="../tables/datatables.html">
                  <span class="sub-item">Reward</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a
             routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/profil"
            class="collapsed"
            aria-expanded="false"
          >
            <i class="fas fa-user-cog"></i>
            <p>Profil</p>
          </a>

        </li>

      </ul>
    </div>
  </div>
</div>
